/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body{
  font-family: "MuseoSans";
}

.line-break{
  width: 300px;
  color: rgba(14, 12, 12, 0.829);
  border-width: 3.5px;
}

p{
  max-width: 900px;
  margin: 2em 0 1em 0;
  line-height: 1.6em;

}

.title-color{
  color: #7D7873;
  font-size: 2em;
  font-weight: 500;
}

.btn{
  background-color: $green;
  margin: 2em 0;
  color: #fff;
  width: fit-content;
  padding: 15px 10px;
  font-weight: 700;
  font-size: 1.3em;

  &:hover{
    color: $green
  }
}
